<section class="container">
    <header>
        <%=render 'shared/user', user:@user %>
    </header>
    <section class="card text-dark bg-light">
        <div class="card-header">Bio</div>
        <div class="card-body">
            <p class="card-text">
                <%=@user.bio%>
            </p>
        </div>
    </section>
    <ul class='list-group '>
    <%@user.last_three_posts.each do |post|%>
        <li class="list-group-item px-0">
            <%=render 'shared/post', post:post%>
        </li>
      <%end%>
    </ul>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-secondary my-3">See all Posts</button>
    </div>

    

</section>