<ul class="list-group">
    <%comments.each do |comment|%>
        <li class="list-group-item justify-content-between d-flex">
    
            <%=comment.author.name%>: <%=comment.text%>
            <% if can? :update, comment %>
               <%= link_to "Edit ", 
               edit_user_post_comment_path(post_id:comment.post_id,id:comment.id),class: 'btn btn-secondary' %>
            <% end %>
        </li> 
    <%end%>
</div>