
  <div>

		<%=form.label :text,'Comment',class:'form-label'%><br/>
			<%=form.text_area :text,class:'form-control',style:"height: 200px"%><br/>

		<%=form.submit 'Save Comment',class:'btn btn-secondary'%>
  </div>
  