 <div class="card text-dark">
        <div class="card-header"><%=post.title%></div>
        <div class="card-body">
            <p class="card-text">
                <%=post.text%>
            </p>
        </div>
        <div class="align-self-end p-2">
            <%=render 'shared/post_counters',post:post%>
        </div>
    </div>