
<div class="card">
    <header class="d-flex p-3 justify-content-between card-title">
        <%="#{post.title} by #{post.author.name}"%> 
        <%=render 'shared/post_counters',post:post%>
    </header>
    <p class="card-body">
        <%=post.text%>
    </p>
</div>
    
