<div class="row align-items-center">

        <div class="col-4">
                <img src=<%=user.photo%> class="user-pic" alt=<%=user.name%> >
        </div>

        <div class="card col-8 d-flex flex-column justify-content-between">


                <div class="col-7 d-flex justify-content-center flex-column">
                        <h2 class = "h1">
                                <%=user.name%>
                        </h2>
                </div>

                <div class="col-5 align-self-end d-flex">
                        <p>Number of posts:
                                <%=user.posts_counter%>    
                        </p>
                </div>

        <div>
</div>
