<div class="contaner">
	
	<h2 class="h1 text-center">Edit your post</h2>
  <%=form_with url:user_post_path,model:@post, scope: :post,local: true,class:'container w-50' do |f|%>
	    <%=render 'shared/post_form',post:@post,form:f%>
	<%end%>
</div>